<!DOCTYPE html>
<meta charset="utf-8">

<base href="https://go-doc-parser.onrender.com">

<meta name="viewport" content="width=device-width, initial-scale=1" />

<style>
    table * {
        border: 1px solid #888;
    }

    table,
    td {
        width: 100%;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    th {
        background: #eee;
    }

    * {
        font-size: 24px;
    }
</style>


{{range $page := .Pages}}

<table>
    <tr>
        <td colspan="4">{{ $page.Filename }}</td>
    </tr>
    <tr>
        <td colspan="4">
            {{ if $page.FilterEarly }}
            18:00-00:00
            {{ else}}
            00:00-00:00
            {{end}}
        </td>
    </tr>
</table>
<br>

<table>
    <tr>
        <th>Тип</th>
        <th>Назва</th>
        <th>Кількість</th>
    </tr>
    {{ range $group := $page.KnownGroups }}
    {{ range $entry := $group.Entries }}
    <tr>
        <td>{{$entry.Type}}</td>
        <td>{{$entry.Name}}</td>
        <td>{{$entry.Count}}</td>
    </tr>
    {{ end }}
    <tr>
        <th colspan="2"></th>
        <th>{{$group.Total}}</th>
    </tr>
    {{ end }}
</table>
<br>

<table>
    <tr>
        <th>Тип</th>
        <th>Назва</th>
        <th>Примітка</th>
        <th>Кількість</th>
    </tr>
    {{ range $group := $page.UnknownGroups }}
    <tr>
        <td>{{ $group.Type }}</td>
        <td>{{ $group.Name }}</td>
        <td>{{ $group.Hint }}</td>
        <td>{{ $group.Count }}</td>
    </tr>
    {{ end }}
</table>
<br>
<br>

{{ end }}

<h3>TOTAL</h3>

<table>
    <tr>
        <th>Тип</th>
        <th>Назва</th>
        <th>Кількість</th>
    </tr>
    {{ range $entry := .Total}}
    <tr>
        <td>{{ $entry.Type }}</td>
        <td>{{ $entry.Name }}</td>
        <td>{{ $entry.Count }}</td>
    </tr>
    {{end}}
</table>
<br>

<table>
    <tr>
        <th>Тип</th>
        <th>Назва</th>
        <th>Примітка</th>
        <th>Кількість</th>
    </tr>
    {{ range $entry := .TotalUnknown}}
    <tr>
        <td>{{ $entry.Type }}</td>
        <td>{{ $entry.Name }}</td>
        <td>{{ $entry.Hint }}</td>
        <td>{{ $entry.Count }}</td>
    </tr>
    {{end}}
</table>
<br>

<table>
    {{ range $aux := .Auxiliary}}
    <tr>
        <th>{{$aux.Type}} - {{$aux.Name}} - {{$aux.Hint}}</th>
    </tr>
    {{ range $comment := $aux.Comments}}
    <tr>
        <td>
            {{$comment}}
        </td>
    </tr>
    {{ end }}
    {{ end }}
</table>


<pre id="summary">{{ .Summary }}</pre>
<button onclick="navigator.clipboard.writeText(document.getElementById('summary').innerText); alert('Скопійовано!')">Cкопіювати</button>
<button onclick="navigator.share({text: document.getElementById('summary').innerText})">Поділитися</button>